*{
    box-sizing: border-box;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
}
a {
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  a:active {
     color: blue;
      }
.container{
    display: flex;
    width: 100%;
}
.div1{
    width: 80%;
}
.div2{
    width: 20%;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  th{
    text-align: justify;
  }

.button{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    width: 11%;
    color: #94b9c5;
    border: #94b9c5 solid;
}
.butt{
  width: 85%;
  margin-top: -4%;
}
.cancel{
  font-size:15px;
  color: #e00000;
  margin-left: 57%;
}
@media(max-width: 768px) {
 *{
   font-size: 13px;
   margin: 0%;
 }
  .container{
    display:grid;
    width: 100%;
}
.div1{
  width: 30%;
}
.div2{
  width: 30%;
}
img{
  width: 27%;
  height: 39%;
  margin-left: 10%;
}
   table, thead, tbody, th, td, tr {
    display: block;
  }
.pro{
  display: none;
}
  tr {
    margin: 0 0 1rem 0;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 36%;
    margin-left: 43%;
  }

  td:before {
    position: absolute;
    top: 0;
    left: -30px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .div4{
    margin-left: 49%;
    margin-top: -37%;
  }
  .fix{
    margin-left: -50%;
  }
  .butt {
    width: 30%;
    margin-top: 0%;
}
.button {
  width: 49%;
  padding: 0%;
  border: 1px solid;
}
.cancel{
  margin-left: 25%;
}
.nav{
  display: none;
}
.time{
  display: none;
}
  td:nth-of-type(2):before { content: "Color"; }
  td:nth-of-type(3):before { content: "Capacity"; }
  td:nth-of-type(4):before { content: "Quantity"; }
  td:nth-of-type(5):before { content: "Price"; }
}
